*{
    margin: 0;
    padding: 0;
}
.container{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px auto;
    transition-delay: 0.1s;
    transition-duration: 1.5s;
    transition-property: all;

}
.container:hover {
    background-color:darkblue;
    border-radius: 50%;
    transform:rotate(360deg);
    transition-timing-function: linear;

}