*{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    height: 500px;
    /* background-color: red; */
    margin: 20px auto;
    animation-name: circle;
    animation-duration: 4s;
    border-radius: 50%;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
    border: 2px solid black;
}

.box{
    height: 150px;
    width: 150px;
    background-color:blueviolet;
    border-radius: 50%;
    /* animation-name: circle; */
    /* animation-duration: 3s; */
    /* animation-delay: 1s; */
    /* animation-timing-function:linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction:normal; */
    /* animation-fill-mode:forwards; */

}
@keyframes circle {
    0%{
        transform:rotate(0);

    }

    100%{
        transform: rotate(360deg);
    }

}