*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
    animation-timing-function: linear;
    border: 2px solid black;
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:blueviolet;
    border-radius: 50%;
    animation: bounce 3s  linear infinite , bounce2 1s  ease-out infinite  alternate;
 
}
@keyframes bounce {
    from{
        left: 0;
    }

    to {
        left: 100%;
    }

}

@keyframes bounce2 {
    from{
        bottom: 0;
    }

    to {
        bottom: 100%;
    }

}